# Ignora tudo/Ingores everthing
*

# Exceto/Except
!.gitignore

!.vimrc
!.vim/
!.vim/coc-settings.json 
!.vim/coc-settings.json.backup

!.ssh/
!.ssh/config

!.bashrc

!Documents/
!Documents/instalar_tudo.sh

!README.md
