# Ignora tudo/Ingores everthing
*

# Exceto/Except
!.gitignore

## vim
!.vimrc
!.vim/
!.vim/coc-settings.json 
!.vim/coc-settings.json.backup

## openssh
!.ssh/
!.ssh/config

## bash
!.bashrc

## dwm
!.xinitrc
!.Xresources


## etc
!Documents/ubuntu-quick-install.sh

!README.md
